:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#cal-input {
  border-radius: 8px;
  border: solid royalblue 1px;
  text-align: center;
  font-size: 2rem;
  width: 10rem;
  margin-inline: 8px;
}

.calorie-count {
  color: royalblue;
}

.add-sub {
  display: inline-flex;
}

.app-div {
  width: 40rem;
  height: 30rem;
  border: 2px solid slateblue;
  background-color: rgba(100, 148, 237, 0.24);
  border-radius: 1rem;
  padding-inline: 3rem;
  padding-block: 5rem;
}

/* information form */

.age-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 6rem;
  margin-block: 4px;
}

.height-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 6rem;
  margin-block: 4px;
}

.weight-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 6rem;
  margin-block: 4px;
}

.gender-div {
  display: grid;
  grid-template-columns: 1fr repeat(4, 0.25fr);
  padding-inline: 6rem;
  margin-block: 4px;
}

label {
  text-align: left;
}

/* results */

#result-container {
  font-size: 3em;
  color: royalblue;
}

/* buttons */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.minus-btn {
  color: red;
  width: 8rem;
  margin-bottom: 1rem;
}

.add-btn {
  color: green;
  width: 8rem;
  margin-bottom: 1rem;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#submit-btn {
  margin-top: 1rem;
  width: 10rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}